body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body, html, .fullscreen {
    width: 100%;
    height: 100%;
}

#holder {
    position: relative;
}

#gallery, .gallery {
    background: rgba(0, 0, 0, 0.6) no-repeat fixed center;
    position: absolute;
    top: 0;
    display: none;
}

.gallery {
    background: rgba(0, 0, 0, 0) no-repeat fixed center;
    background-size: contain;
}

#btnPrev, #btnNext {
    position: absolute;
    top: 50%;
    background-image: url('btns.png');
    width: 36px;
    height: 36px;
    z-index: 9999;
    cursor: pointer;
}

#btnNext {
    background-position: 36px 0;
    right: 0;
}

#btnPrev:hover {
    background-position: 0 36px;
}

#btnNext:hover, #btnNext.hover {
    background-position: 36px 36px;
}

#btnHelper {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 150px;
    height: 36px;
    background-color: #333;
    color: #ddd;
    line-height: 36px;
    padding-left: 25px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
